  .container{
    background-color: rgb(242, 242, 242);
  }
  
  .productsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 50px;
  padding: 200px;
}

.productsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 50px;
  padding: 10px 0;
}

.empty {
  text-align: center;
  font-size: 1.2rem;
  color: #555;
  margin-top: 50px;
  font-family: "Varela Round", sans-serif;
}
