.wrapper {
  width: 100%;
  background-color: #fdfdfd;
  direction: rtl;
  margin-bottom: 1px;
}

.categoryBar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  padding: 70px 20px 15px;
  background-color: transparent;
  overflow-x: auto;
}

.categoryButton {
  color: black;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  padding: 25px 20px 0px;
  border: none;
  background: none;
  position: relative;
  transition: color 0.3s ease;
}

.categoryButton:hover {
  color: #b7a65e;
}

.categoryButton::after {
  content: "";
  display: block;
  margin-top: 4px;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.categoryButton:hover::after,
.categoryButton.active::after {
  background-color: black;
}

.subCategoryRow {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px 40px 10px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
}

.subCategoryButton {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 6px 14px;
  font-size: 0.95rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.subCategoryButton:hover {
  background-color: #eee;
}
