body, html, #root {
  height:auto;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* הסר גלילה פנימית */
.App-content {
  flex: 1;
  padding-top: 64px;
  box-sizing: border-box;
  overflow: visible; /* זה מה שימנע גלילה כפולה */
}

footer {
  background-color: #000;
  color: white;
  text-align: center;
  padding: 15px 0;
}
