.footer {
  background-color: #EAE7DC; /* רקע לבן-אפור כמו hero */
  color: #222;               /* טקסט שחור כהה */
  text-align: center;
  padding: 20px 0;
  width: 100%;
  margin-top: auto;
  position: relative;
  font-size: 0.9rem;
  font-family: "Heebo", sans-serif;
}
